# Testumgebung für den Leverage Rechner

In [1]:
import pandas as pd
from bilanz import Bilanz
from erfolgsrechnung import Erfolgsrechnung
from unternehmen import Unternehmen

## Testkonti

In [2]:
aktiven = {
    1000: ['Kasse',            2400],
    1020: ['Bank',            12900],
    1100: ['F L&L',           29600],
    1200: ['Vorräte',          5300],
    1500: ['Maschinen',       15800],
    1510: ['Mobiliar',         7200],
    1530: ['Fahrzeuge',       14000],
    1540: ['Werkzeuge',        3400],
    1600: ['Liegenschaften', 400000],
}

passiven = {
    2000: ['V L&L',           37500],
    2451: ['Hypothek',       200000],
    2800: ['Eigenkapital',   249100],
    2891: ['Jahresgewinn',     4000],    
}

aufwand = {
    5000: ['Personalaufwand',          65000],
    6000: ['Raumaufwand',              12000],
    6500: ['Verwaltungsaufwand',        3000],
    6600: ['Werbeaufwand',              4000],
    6700: ['Übriger Betriebsaufwand',   6000],
    6800: ['Abschreibungen',            5000],
    6900: ['Zinsaufwand',               1000],
    9200: ['Gewinn',                    4000],
}

ertrag = {
    3400: ['Dienstleistungsertrag',   100000],
}

In [2]:
konti_dict = {
    1000: ['Kasse',            2400],
    1020: ['Bank',            12900],
    1100: ['F L&L',           29600],
    1200: ['Vorräte',          5300],
    1500: ['Maschinen',       15800],
    1510: ['Mobiliar',         7200],
    1530: ['Fahrzeuge',       14000],
    1540: ['Werkzeuge',        3400],
    1600: ['Liegenschaften', 400000],

    2000: ['V L&L',           37500],
    2451: ['Hypothek',       200000],
    2800: ['Eigenkapital',   249100],
    2891: ['Jahresgewinn',     4000],    

    5000: ['Personalaufwand',          65000],
    6000: ['Raumaufwand',              12000],
    6500: ['Verwaltungsaufwand',        3000],
    6600: ['Werbeaufwand',              4000],
    6700: ['Übriger Betriebsaufwand',   6000],
    6800: ['Abschreibungen',            5000],
    6900: ['Zinsaufwand',               1000],
    9200: ['Gewinn',                    4000],

    3400: ['Dienstleistungsertrag',   100000],
}

## Importiere Konti als pandas DataFrame

In [3]:
konti = pd.read_csv('konti.csv', index_col=0)
konti.head()

             Kto  Saldo
KtoNr
1000       Kasse   2400
1020        Bank  12900
1100       F L&L  29600
1200     Vorräte   5300
1500   Maschinen  15800

In [4]:
ug1 = Unternehmen('konti.csv')

In [5]:
ug2 = Unternehmen(konti)

In [6]:
ug3 = Unternehmen(konti_dict)

In [5]:
ug1.save_data()

In [ ]:
test_er.get_zinsaufwand()

In [ ]:
test_er.get_erfolg()