# Mittelflussrechnung mit Python

Die Arbeit mit buchhalterischen Daten erfordert Hilfsmittel, um tabellarisch
dargestellte Daten zu verarbeiten. *Die* Python Bibliothek für die Arbeit mit
tabellarischen Daten ist [*pandas*](https://pandas.pydata.org/).  
Die Bibliothek kann in der Python Virtual Environment mit dem Befehl

```bash
pip install pandas
```

installiert werden.

Anschliessend wird die Bibliothek mit dem Befehl

```python
import pandas as pd
```

in das Jupyter Notebook importiert.

## Darstellung der Abschlussrecnnungen in Python

### Aufbereitung der Daten

Im schulischen Umfeld werden Abschlussrechnungen oft als T-Konto dargestellt.
Damit die Daten in Python verarbeitet werden können, ist es am einfachsten, die
Information in einen pandas DataFrame zu überführen. Wie das gemacht werden
kann, soll das Beispiel der untenstehenden Bilanz zeigen.


![Eröffnungsbilanz](eb.svg)

Als Vorbereitung für den Import der Daten in ein pandas DataFrame werden die
Daten der Bilanz in eine CSV-Datei übertragen. Die CSV-Datei besteht 
aus den Spalten 'Kontonummer', 'Kontoname' und 'Betrag'. Die Kontonummer dient
der einfachen Gruppierung der Konten. Die Zuweisung der Kontonummern basiert auf
dem 
[Schweizer Kontenrahmen
KMU](https://www.kmu.admin.ch/dam/kmu/de/dokumente/savoir-pratique/Finances/240812%20Schulkontenrahmen%20VEB%20-%20DE.pdf.download.pdf/240812%20Schulkontenrahmen%20VEB%20-%20DE.pdf).

Die obige Bilanz sieht als CSV-Datei folgendermassen aus:

```csv
Kontonummer,Kontoname,Betrag
1000,Kasse,10
1010,Post,13
1020,Bankguthaben,2
1100,FLL,40
1109,WBForderungen,-4
1200,Waren,70
1510,Mobilien,50
1519,WBMobilien,-20
1600,Immobilien,350
2000,VLL,45
2100,Bankschuld,9
2261,Dividende,5
2451,Hypothek,210
2800,Aktienkapital,220
2950,Reserven,20
2970,Gewinnvortrag,0
```

Beim Erstellen der CSV-Datei ist darauf zu achten, dass zwischen den Einträgen
und den Kommata kein Leerzeichen steht. Andernfalls kann dies bei der
Weiterverarbeitung zu Problemen führen.

Die Datei steht [hier zum Download](eb.csv) bereit.

Unter der Vorsaussetzung, dass die CSV-Datei im gleichen Verzeichnis liegt, wie
das Jupyter Notebook, in dem die Daten verarbeitet werden, findet sich in der
Zelle nach dem Import Statement für die pandas Bibliothek der Code, um die
CSV-Datei in einen pandas DataFrame einzulesen.

In [1]:
import pandas as pd

In [2]:
# Die Eingaben können auch auf einer Zeile stehen (das hätte hier den Kommentar erschwert)
eb = pd.read_csv('eb.csv',       # Pfad zur CSV-Datei -> hier nur der Dateiname, weil im gleichen Verzeichnis
                 index_col=0     # Spalte 0 als Index verwenden (die Zwählweise ist 0-basiert)
                 )

Um zu kontrollieren, ob die Daten korrekt eingelesen wurden, können die ersten
fünf Zeilen des Dataframes mit dem Befehl `.head()` angezeigt werden.

In [3]:
eb.head()  # Ausgabe der ersten 5 Zeilen der Tabelle (DataFrame)

                 Kontoname  Betrag
Kontonummer
1000                 Kasse      10
1010                  Post      13
1020          Bankguthaben       2
1100                   FLL      40
1109         WBForderungen      -4

### Arbeiten mit pandas: Ein einfaches Beispiel

Das Prinzip für Berechnungen in einem DataFrame ist ähnlich, wie in Excel. Es
werden die einzelnen Zellen bzw. Zellenbereiche adressiert und mit diesen
Bereichen die gewünschten Berechnungen durchgeführt. Um Beispielsweise das Total
der liquide Mittel zu berechnen, wird die Summe der Spalte 'Betrag' für den
Bereich der Kontennummern 1000 bis (exklusiv) 1600 gebildet.

In [6]:
liquide_mittel = eb.loc[1000:1020, 'Betrag'].sum()
print(f"Die Summe der liquiden Mittel beträgt: {liquide_mittel}")

Die Summe der liquiden Mittel beträgt: 25

Die Methode `.loc[]` ermöglicht den Zugriff auf die Zeilen und Spalten eines
DataFrames. Der erste Parameter (im Beispiel 1000:1020) wählt die Zeilen mit den
Kontonummern von 1000 bis 1020 aus - inklusive der beiden Grenzwerte 1000 und
1020. Der zweite Parameter (im Beispiel 'Betrag') wählt die Spalte mit dem Titel
Betrag aus. Die Methode `.sum()` berechnet die Summe der ausgewählten Werte.

### Vollständiger Datensatz

Neben der Eröffnungsbilanz wird für die Rekonstruktion der Mittelflussrechnung
auch die Schlussbilanz und die Erfolgsrechnung benötigt. Diese können entweder
in spearaten CSV-Dateien gespeichert werden und dann in einen DataFrame
zusammengeführt werden, oder die Daten können in einer einzigen CSV-Datei
gespeichert werden.

In diesem Beispiel soll mit einer einzigen CSV-Datei gearbeitet werden.

Die Erfolgsrechnung und die Schlussbilanz sehen folgendermassen aus:

![Erfolgsrechnung](er.svg)


![Schlussbilanz](sb.svg)

Zusammen mit der Eröffnungsbilanz ergibt sich aus den drei Rechnungen die
folgende CSV-Datei:

```csv
Kontonummer,Kontoname,Eroeffnung,Abschluss
1000,Kasse,10,5
1010,Post,13,58
1020,Bankguthaben,2,2
1100,FLL,40,55
1109,WBForderungen,-4,-5
1200,Waren,70,55
1510,Mobilien,50,70
1519,WBMobilien,-20,25
1600,Immobilien,350,340
2000,VLL,45,33
2100,Bankschuld,9,11
2261,Dividende,5,10
2300,PRA,2,3
2451,Hypothek,210,200
2800,Aktienkapital,220,270
2950,Reserven,20,26
2970,Gewinnvortrag,0,2
3200,Warenertrag,,560
4200,Warenaufwand,,-392
5000,Personalaufwand,,-110
6700,Sonstiger Betriebsufwand,,-20
6800,Abschreibungen,,-15
6900,Finanzaufwand,,-5
```

Für die Erföffnungs- bzw. Schlussbilanz wird je eine eingene Spalte angelegt.
Die Zahlen der Erfolgsrechnung werden in die Spalte 'Abschluss' eingetragen.
Die Spalte 'Eroeffnung' wird für die Erfolgsrechnung nicht benötigt und bleibt
leer.

Die Datei steht [hier zum Download](data.csv) bereit.

Das Einlesen der CSV-Datei in einen pandas DataFrame erfolgt analog zum Einfürungsbeispiel.

In [7]:
df = pd.read_csv('data.csv',                    # Pfad zur CSV-Datei
                 index_col=0,                   # Spalte 0 als Index verwenden
                 dtype={'Eroeffnung': 'Int64'}  # Spalte Eroeffnung als Int64 einlesen (ist nicht zwingend nötig)
                 )
df.head()

                 Kontoname  Eroeffnung  Abschluss
Kontonummer
1000                 Kasse          10          5
1010                  Post          13         58
1020          Bankguthaben           2          2
1100                   FLL          40         55
1109         WBForderungen          -4         -5

Mit dem Befehl `df.tail()` können die letzten fünf Zeilen des DataFrames
angezeigt werden.

In [8]:
df.tail(7)  # Ausgabe der letzten 7 Zeilen der Tabelle (DataFrame)

                            Kontoname  Eroeffnung  Abschluss
Kontonummer
2970                    Gewinnvortrag           0          2
3200                      Warenertrag        <NA>        560
4200                     Warenaufwand        <NA>       -392
5000                  Personalaufwand        <NA>       -110
6700         Sonstiger Betriebsufwand        <NA>        -20
6800                   Abschreibungen        <NA>        -15
6900                    Finanzaufwand        <NA>         -5

Die Angabe `<NA>` bedeutet, dass in dieser Zelle kein Wert vorhanden ist.

Die so aufberetiteten Daten erlauben es, die Veränderung der liquiden Mittel zu berechnen.

In [9]:
veraenderung_liquide_mittel = df.loc[1000:1020, 'Abschluss'].sum() - df.loc[1000:1020, 'Eroeffnung'].sum()
print(f"Die Veränderung der liquiden Mittel beträgt: {veraenderung_liquide_mittel}")

Die Veränderung der liquiden Mittel beträgt: 40

Um den Konventionen der Python Programmierung Rechnung zu tragen, ist die zweite
Variante mit der Aufteilung in mehrere Schritte einfacher zu lesen.

In [10]:
lm0 = df.loc[1000:1059]['Eroeffnung'].sum()    # Summe der liquiden Mittel der Eröffnungsbilanz
lm1 = df.loc[1000:1059]['Abschluss'].sum()     # Summe der liquiden Mittel der Abschlussbilanz
delta_lm = lm1 - lm0                           # Veränderung der liquiden Mittel
print(f"Die Veränderung der liquiden Mittel beträgt: {delta_lm}")

Die Veränderung der liquiden Mittel beträgt: 40

## Mittelflussrechnung

### Cashflow aus der Betriebstätigkeit

Die Berechnung des Cash Flows aus betrieblicher Tätigkeit nach der indirekten
Methode erfolgt nach der folgenden 'Formel':

$\pm$  Jahresgewinn ($+$) oder Jahresverlust ($-$)  
$\pm$  Abschreibungen/Wertberichtigungen ($+$) und Zuschreibungen ($-$) auf Positionen des Anlagevermögens  
$\pm$  Bildung ($+$) und Auflösung ($-$) von Rückstellungen  
$\pm$  Wertminderung ($+$) und Werterhöhung ($-$) kurzfristig gehaltener Aktiven mit Börsenkurs  
$\pm$  Abnahme ($+$) oder Zunahme ($-$) Forderungen aus Lieferungen und Leistungen  
$\pm$  Abnahme ($+$) oder Zunahme ($-$) kurzfristiger Forderungen  
$\pm$  Abnahme ($+$) und Zunahme ($-$) Vorräte und nicht fakturierte Dienstleistungen  
$\pm$  Abnahme ($+$) und Zunahme ($-$) aktive Rechnungsabgrenzungen  
$\pm$  Zunahme ($+$) und Abnahme ($-$) Verbindlichkeiten aus Lieferungen und Leistungen  
$\pm$  Zunahme ($+$) und Abnahme ($-$) kurzfristige Verbindlichkeiten  
$\pm$  Zunahme ($+$) und Abnahme ($-$) passive Rechnungsabgrenzungen  
$\pm$  Verluste ($+$) und Gewinne ($-$) aus Veräusserungen von Sachanlagen  
$\pm$  Sonstige nicht fondswirksame Aufwände ($+$) und Erträge ($-$)

In der folgenden Zelle sind die einzelnen Zeilen der 'Formel' einer Variabel zuzuweisen.

In [ ]:
jahresgewinn    = df.loc[3000:8900]['Abschluss'].sum()
abschreibungen  = df.loc[6800:6899]['Abschluss'].sum() * -1
rueckstellungen = ((df.loc[2330:2399]['Abschluss'].sum()  + 
                    df.loc[2600:2799]['Abschluss'].sum()) - 
                   (df.loc[2330:2399]['Eroeffnung'].sum() +
                    df.loc[2600:2799]['Eroeffnung'].sum()))
delta_liquide_ws= (df.loc[1060:1069]['Abschluss'].sum() -
                   df.loc[1060:1069]['Eroeffnung'].sum())
delta_fll       = (df.loc[1100:1109]['Abschluss'].sum() -
                   df.loc[1100:1109]['Eroeffnung'].sum())
delta_kf_ford   = (df.loc[1140:1199]['Abschluss'].sum() -
                   df.loc[1140:1199]['Eroeffnung'].sum())
delta_vorrat    = (df.loc[1200:1299]['Abschluss'].sum() -
                   df.loc[1200:1299]['Eroeffnung'].sum())
delta_ara       = (df.loc[1300:1399]['Abschluss'].sum() -
                   df.loc[1300:1399]['Eroeffnung'].sum())
delta_vll       = (df.loc[2000:2099]['Abschluss'].sum() -
                   df.loc[2000:2099]['Eroeffnung'].sum())
delta_ue_verb   = ((df.loc[2200:2210]['Abschluss'].sum() -
                   df.loc[2200:2210]['Eroeffnung'].sum()) +
                    (df.loc[2270:2279]['Abschluss'].sum() -
                   df.loc[2270:2279]['Eroeffnung'].sum()))
delta_pra       = (df.loc[2300:2399]['Abschluss'].sum() -
                   df.loc[2300:2399]['Eroeffnung'].sum())
delta_rest      = (df.loc[8000:8999]['Abschluss'].sum() -
                   df.loc[8000:8999]['Eroeffnung'].sum()) * -1

In [ ]:
print(f'Jahresgewinn: {jahresgewinn}')
print(f'Abschreibungen: {abschreibungen}')
print(f'Rückstellungen: {rueckstellungen}')
print(f'FLL: {delta_fll}')
print(f'Liquide WS: {delta_liquide_ws}')
print(f'Vorräte: {delta_vorrat}')
print(f'ARA: {delta_ara}')
print(f'VLL: {delta_vll}')
print(f'Übrige Verbindlichkeiten: {delta_ue_verb}')
print(f'PRA: {delta_pra}')
print(f'Rest: {delta_rest}')

Die Berechnung des Cash Flows aus den obigen Teilresultaten erfolgt in der
folgenden Zelle.

In [ ]:
cash_flow = (jahresgewinn +
             abschreibungen + 
             rueckstellungen - 
             delta_fll - 
             delta_liquide_ws -
             delta_kf_ford -
             delta_vorrat - 
             delta_ara + 
             delta_vll + 
             delta_ue_verb +
             delta_pra +
             delta_rest
             )
print(f"Der Cashflow beträgt: {cash_flow}")

### Formatierung der Ausgabe

Das Resutlat kann mit hilfe der verschiedenen Formatierungsbefehele für Strings
noch anschaulicher dargestellt werden.

In [ ]:
positionen = {}
jahresgewinn    = df.loc[3000:8900]['Abschluss'].sum()
positionen['Jahresgewinn'] = jahresgewinn
abschreibungen  = df.loc[6800:6899]['Abschluss'].sum() * -1
positionen['Abschreibungen'] = abschreibungen
rueckstellungen = ((df.loc[2330:2399]['Abschluss'].sum()  + 
                    df.loc[2600:2799]['Abschluss'].sum()) - 
                   (df.loc[2330:2399]['Eroeffnung'].sum() +
                    df.loc[2600:2799]['Eroeffnung'].sum())) * -1
positionen['Rückstellungen'] = rueckstellungen
delta_liquide_ws= (df.loc[1060:1069]['Eroeffnung'].sum() -
                   df.loc[1060:1069]['Abschluss'].sum())
positionen['Liquide WS'] = delta_liquide_ws
delta_fll       = (df.loc[1100:1109]['Eroeffnung'].sum() -
                   df.loc[1100:1109]['Abschluss'].sum())
positionen['Veränderung FLL'] = delta_fll
delta_kf_ford   = (df.loc[1140:1199]['Eroeffnung'].sum() -
                   df.loc[1140:1199]['Abschluss'].sum())
positionen['Veränderung übrige kf Forderungen'] = delta_kf_ford
delta_vorrat    = (df.loc[1200:1299]['Eroeffnung'].sum() -
                   df.loc[1200:1299]['Abschluss'].sum())
positionen['Veränderung Vorräte'] = delta_vorrat
delta_ara       = (df.loc[1300:1399]['Eroeffnung'].sum() -
                   df.loc[1300:1399]['Abschluss'].sum())
positionen['Veränderung ARA'] = delta_ara
delta_vll       = (df.loc[2000:2099]['Abschluss'].sum() -
                   df.loc[2000:2099]['Eroeffnung'].sum())
positionen['Veränderung VLL'] = delta_vll
delta_ue_verb   = ((df.loc[2200:2210]['Abschluss'].sum() -
                   df.loc[2200:2210]['Eroeffnung'].sum()) +
                    (df.loc[2270:2279]['Abschluss'].sum() -
                   df.loc[2270:2279]['Eroeffnung'].sum()))       
positionen['Veränderung übrige Verbindlichkeiten'] = delta_ue_verb
delta_pra       = (df.loc[2300:2399]['Abschluss'].sum() -
                   df.loc[2300:2399]['Eroeffnung'].sum())
positionen['Veränderung PRA'] = delta_pra
delta_rest      = (df.loc[8000:8999]['Abschluss'].sum() -
                   df.loc[8000:8999]['Eroeffnung'].sum()) * -1
positionen['Veränderung übriger Fondsfremder Erfolg'] = delta_rest

In [ ]:
cash_flow = (jahresgewinn +
             abschreibungen + 
             rueckstellungen + 
             delta_fll + 
             delta_liquide_ws +
             delta_kf_ford +
             delta_vorrat + 
             delta_ara + 
             delta_vll + 
             delta_ue_verb +
             delta_pra +
             delta_rest
             )

In [ ]:
breite = 50
titel = 'Indirekte Berechnung des Cash Flows\n'
for index, value in positionen.items():
    if value != 0:
        mitte = breite - len(index) - len(str(value))
        breite_links = len(index) + mitte // 2
        breite_rechts = len(str(value)) + mitte // 2
        if breite_links + breite_rechts < breite:
            breite_links += 1
        titel += f"{index:<{breite_links}}{value:>{breite_rechts}}\n"
    
mitte = breite - len('Cashflow') - len(str(cash_flow))
breite_links = len('Cashflow') + mitte // 2 
breite_rechts = len(str(cash_flow)) + mitte // 2
if breite_links + breite_rechts < breite:
    breite_links += 1
cf = 'Cash Flow'
cf_zahl = str(cash_flow)
resultat = f'{cf:<{breite_links}}{cf_zahl:>{breite_rechts}}'
titel += resultat
    
print(titel)

### Mittelfluss aus Investitionstätigkeit

Für die Berechnung des Mittelfusses aus Investitionstätigkeit kann nach der
folgenden 'Formel' vorgegangen werden:

$–$ Investitionen in Finanzanlagen  
$+$ Devestitionen von Finanzanlagen  
$–$ Investitionen in Beteiligungen  
$+$ Devestitionen von Beteiligungen  
$–$ Investitionen in mobile Sachanlagen  
$+$ Devestitionen von mobilen Sachanlagen  
$–$ Investitionen in immobile Sachanlagen  
$+$ Devestitionen von immobilen Sachanlagen  
$–$ Investitionen in immaterielle Werte  
$+$ Devestitionen von immateriellen Werten